*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}
body{
  font-family:Arial, Helvertica, sans-serif;
  line-height:1.4;
}
a{
  color:#333;
  text-decoration: none;
}

.innerContainer{
  overflow-y: scroll;
  border-radius: 5px;
  background: #8395A7;
  width: 80%;
  margin: 1em auto;
  padding: 10px;
}
.recipeBox{
  max-height: 10em;
}
.recipeBox ul{
  list-style-type: none;
}
.recipeBox ul li{
  height: 2em;
  border-radius: 5px;
  padding: 5px;
}
.recipeBox ul li:hover{
cursor: pointer;
background: #DAE0E2;
}

.previewBox h2{
  padding: 10px;
}
.previewBox .content{
  background: #fff;
  border-radius: 5px;
  padding: 15px;
}
